<div class="top-nav">
    <ul>
        <li><%= link_to('Home', products_path) %></li>
        <% if current_user %>
        <li>
            <%= current_user.email %>
        </li> 
        <% end %>
        <% if user_signed_in? %>
        <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
        <% else %>
        <li>
            <%= link_to('Login', new_user_session_path)  %>  
        </li>
        <li>
            <%= link_to "Sign up", new_user_registration_path %>
        </li>        
        <% end %>
        <li class="nobg"><a href="#" class="bag" title="My Bag"><%= render 'layouts/carts_text' %></a></li>
    </ul>
</div>